body {
  background-color: #f0f0f0; /* Light gray background */
}

/*product-management-container style*/
.product-management-container {
  background-color: yellowgreen;
}


.form-container, .table-container {
  display: flex;
  justify-content: center;
}

/* Form Styles */
.form-container {
  margin-bottom: 30px;
}

.form-content {
  border: 2px solid #333; /* Alterado para borda uniforme */
  border-radius: 20px;
  padding: 35px;
  margin-top: 80px;  
  width: 685px;
}

/* Table Styles */
.table-container {
  padding-bottom: 120px;
}

.table-content {
  border: 2px solid #333; /* Alterado para borda uniforme */
  border-radius: 20px;
  padding: 20px 35px;
  width: 885px;
}
.form {
  text-align: center;
}

form input, form input[type="button"] {
  margin-bottom: 5px;
}

form input[type="button"] {
  width: 115px;
  margin: 0 5px;
}

table {
  text-wrap: nowrap;
}
