body {
  margin: 0;
  font-family: sans-serif; /* Use a generic sans-serif font */
  font-size: 16px; /* Set base font size */
  line-height: 1.6; /* Set default line height */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
